$icomoon-font-path: "fonts" !default;

$icon-arrow-r: "\e900";
$icon-arrow-l: "\e901";
$icon-arrow-up: "\e902";
$icon-arrow-down: "\e903";
$icon-close: "\e904";
$icon-menu: "\e905";
$icon-instagram: "\e906";
$icon-facebook: "\e907";
$icon-twitter: "\e908";
$icon-youtube: "\e909";
$icon-google: "\e90a";
$icon-pinterest: "\e90b";
$icon-user: "\e90e";
$icon-shop: "\e90f";
$icon-wishlist: "\e910";

