
$colors: (
        white: #ffffff,
        black: #333333,
        green: #009800,
        red: #e90909,
        orange: #ffa500,
        grey: #eeeeee,
        facebook: #0b3e6f,
        instagram: #ff227e,
        graphicattribute-clearance: #a52a2a,
        graphicattribute-news: #75c8f4,
        graphicattribute-discount: #e90909
);

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }

  .border-top-#{$name} {
    border-top-color: $color;
  }
}
