.arrivals {
  @include media-breakpoint-up(sm) {
    margin-top: -$_100 * 1.90;
  }
  font-family: $font-family-nexa;
  margin-bottom: $_100;
  &__slider {
    .slick-list {
      box-shadow: 25px 43px 50px rgba(0, 0, 0, 0.1);
    }
    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }
  &__item {
    position: relative;
    outline: none!important;
    background-color: lighten($color-a, 6%);
    padding: 0 $_40 $_40;
    @include media-breakpoint-up(sm) {
      box-shadow: $_25 $_45 $_50 rgba(0, 0, 0, 0.1);
    }
    img {
      max-width: $_100*5.50;
      width: 100%;
    }
  }
  &__title, &__author {
    color: $color_text;
    margin-bottom: $_20;
  }
  &__title {
    text-align: center;
    background: lighten($color-a, 6%);
    margin: 0;
    padding: 20px;
    font-size: $_22;
    font-family: $font-family-nexa;
    letter-spacing: $letter-spacing-small;
    font-weight: lighter;
  }
  &__subtitle {
    font-size: $_36;
    font-family: $font-family-nexa;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-base;
    margin-bottom: $_20;
    a {
      color: $color-black;
    }
  }

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: $_55;
    letter-spacing: $letter-spacing-base;
    font-family: $font-family-open-sans;
    font-weight: $headings-font-weight - 200;
    .row {
      width: 100%;
    }
    a {
      color: inherit;
    }
    .text {
      padding: 0 $_16;
    }
    .icon {
      font-size: $_30;
      &:hover {
        color: $color-b;
      }
    }
  }
  &__icons {
    margin-top: $_20;
    a {
      padding: 0 $_13;
    }
  }
  &__buy {
    @include position(absolute, auto $_40 $_40 auto);
    .icon {
      &:before {
        font-size: $_40;
        color: $color-b;
      }
    }
  }

}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}