.product-list {
  line-height: $line-height-base;
  font-family: $font-family-open-sans;
  color: shade($color-text,50%);
  letter-spacing: $letter-spacing-small;

  &__item {
    padding: $_40 $_40 $_80 $_40;

    &--top-left {
      .product-list__small-image {
        top:-$_40;
        left: 0;
      }

      .product-list__slider {
        text-align: right;
      }
    }

    &--top-right {
      .product-list__small-image {
        top:-$_40;
        right: 0;
      }
      .product-list__slider {
        padding-bottom: 0;
        .slick-track {
          img {
            width: 100%;
          }
        }
      }
      .slick-dots {
        left: 0;
        right: auto!important;
      }
    }

    &--bottom-left {
      .product-list__small-image {
        bottom:0;
        left: 0;
      }
      .product-list__slider {
        text-align: right;
      }
    }
  }

  &__bg {
    position: relative;
    > img {
      @include position(absolute,42% 0 0 auto);
      width: 50%;
    }

  }

  &__slider {
    margin-bottom: $_48;
    &.slick-dotted.slick-slider {
      margin-bottom: 0;
    }
    .slick-dots {
      top:-$_35;
      bottom:auto;
      width: auto;
      right: 0;
      * {
        vertical-align: middle;
      }
      .icon {
        color: $color-b;
        &:before {
          font-size: $_30;
          position: relative;
          right: 10px;
          transition: all 0.4s ease;
        }
        &:hover {
          cursor: pointer;
          &:before {
            right: -5px;
          }
        }
      }
    }
    > img {
      width: 75%;
    }
  }

  &__title {
    max-width: 65%;
    width: 100%;
    float: left;
    margin-bottom: $_25;
    font-size: $_30;
    color: $color-b;
    letter-spacing: $letter-spacing-small;
    line-height: $line-height-lg;
    font-weight: $font-weight-bold;
    padding-right: 2%;
    span {
      font-family: $font-family-nexa;
      color: $color-black;
      text-transform: uppercase;
      font-weight: bold;
    }
    > *, a, span {
      font-weight: bold;
      &:visited {
        color: $color-b;
      }
    }
  }

  &__action {
    width: 30%;
    float: left;
    text-align: right;
    .see__detail {
      font-size: $_16;
      font-family: $font-family-monserat;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-small;
      color: $color-black;
      font-weight: $font-weight-bold;
      transition: color 0.4s ease;
      .icon {
        font-size: $_20;
      }
      &:hover {
        color: $color-b;
      }
    }
    .add_wishlist {
      display: block;
      margin-top: $_15;
      .icon {
        font-size: $_20;
        color: $color-black;
        transition: color 0.4s ease;
        &:hover {
          color: $color-b;
        }
      }
    }
  }

  &__info {
    line-height: $line-height-lg + .4;
    padding-bottom: $_10;
    clear: both;
    [class^="col"] {
      padding: 0;
    }
    .see_more {
      display: flex;
      align-items: flex-end;
    }
    .btn {
      padding: $_15;
      font-size: $_12;
      text-align: center;
      width: 100%;
    }

  }

  &__small-image {
    box-shadow: 4px 4px 41px rgba(0, 0, 0, 0.4);
  }

  &__action {
    margin-top: $_15;
    align-items: center;
    .btn {
      padding: $_16 $_35;
    }
  }

  //BGS MODS
  &--default {

  }



}