.profil {
  overflow: hidden; //because before name go out of div
  position: relative;
  background-color: $color-a;
  min-height: $_100 * 7.48;
  height:100%;
  color: $color-text;
  .container {
    height: 100%;
  }
  &__image{
    position: absolute;
    width: 50%;
    top:0;
    bottom:0;
    right: 0;
    background-color: $color-black;
    background-size: cover;
    background-position: center center;
  }

  &__slogan {
    padding-top: $_50;
    .bq {
      position: relative;
      font-size: $_30;
      padding:0 $_10;
      color: $color-b;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-base;
      line-height: $line-height-base;

      &:before, &:after {
        position: absolute;

      }
      &:before {
        content: '“';
        top:0;
        left:0;
      }
      &:after {
        content: '”';
        bottom:0;
        right: 0;
      }
    }
  }

  &__head {
    position: relative;
    padding: $_60 0;
    @include media-breakpoint-up(sm) {
      &:before {
        position: absolute;
        content: attr(data-name);
        font-size: 8em;
        color: #875f37;
        opacity: 0.1;
        left: -17px;
        top: 0;
        font-family: "Helvetica Neue";
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-small;
      }
    }
    @include media-breakpoint-up(md) {
      &:before {
        font-size: 16em;
      }
    }
    &__subtitle, &__title, &__prof {
      position: relative;
      color: $color-c;
    }
    &__subtitle, &__title {
      text-transform: uppercase;
    }
    
    &__title {
      color: $color-black;
      padding: $_20 0;
      letter-spacing: $letter-spacing-base;
    }
  }
  &__body {
    font-family: $font-family-open-sans;
    ul {
      padding-left: $_20;
      li {
        padding: $_10 0;
        list-style: disc;
        letter-spacing: $letter-spacing-small;
        color: $color-c;
      }
    }
  }

}