.user-profil-settings {
  .form-group {
    padding: $_20;
    background-color: $white;

    .form-control {
      padding-top: $_8;
      padding-bottom: $_8;
    }

  }


  .help-block {
    padding: $_10 0;
  }
}