.sp {
  .visual {
    min-height: $min-height - $_100 * 1.5;
    height: calc(100vh - 400px);
    &--small {
      height: $_100 * 2.6;
      min-height: $min-height-ap;
      max-height: $_100*2.6;
    }
  }
}
.visual {
  position: relative;
  background-size: cover;
  background-position: center top;
  height: calc(100vh - 70px);
  min-height: $min-height;
  line-height: $line-height-base;
  font-family: $font-family-monserat;
  &__alternative-title {
    color: $color-white;
    font-size: $_30;
    font-family: $font-family-nexa;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-base;
  }

  &__heading {
    @include position(absolute, 50% 0 auto 0);
    @include transform(translateY(-50%)!important);
    color: $color-white;

  }

  &__title, &__subtitle {
    font-weight: $headings-font-weight - 200;
    text-transform: uppercase;
    letter-spacing: .3em;
  }

  &__title {
    font-size: $_32;
    @include media-breakpoint-up(sm){
      font-size: $_72;
    }

  }

  &__subtitle {
    font-size: $_16;
    @include media-breakpoint-up(sm){
      font-size: $_30;
    }
  }

  &--mod {
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }

  .heading {
    padding: $_20 0;
    @include media-breakpoint-down(sm) {
      font-size: $_12;
    }
    &:before {
      content: none;
    }
  }
}