$initial: 16px;
$_1160: 84.407em;
$_132: 8.25em;
$_122: 7.625em;
$_120: 7.5em;
$_100: 6.25em;
$_90: 5.625em;
$_82: 5.125em;
$_80: 5em;
$_72: 4.5em;
$_70: 4.375em;
$_60: 3.75em;
$_55: 3.4375em;
$_50: 3.125em;
$_48: 3em;
$_46: 2.875em;
$_45: 2.8125em;
$_40: 2.5em;
$_39: 2.4375em;
$_38: 2.375em;
$_36: 2.25em;
$_35: 2.1875em;
$_34: 2.125em;
$_32: 2em;
$_30: 1.875em;
$_25: 1.5625em;
$_24: 1.5em;
$_23: 1.4375em;
$_22: 1.375em;
$_20: 1.25em;
$_21: 1.3125em;
$_27: 1.6875em;
$_26: 1.625em;
$_28: 1.75em;
$_19: 1.1875em;
$_18: 1.125em;
$_17: 1.0625em;
$_16: 1em;
$_15: 0.9375em;
$_14: 0.875em;
$_13: 0.8125em;
$_12: 0.75em;
$_8: $_16/2;
$_6: $_12/2;
$_10: 0.625em;
$_5: 0.3125em;
$_4: $_12/3;
$_3: $_15/5;
$_2: $_16/8;
$_1: $_16/16;

$screen-ex: 82.5em; //max - 1320px
$screen-lg: 63.938em; //max - 1023px
$screen-md: 59.9375em; //max - 959px
$screen-sm: 47.9375em; //max - 767px
$screen-xs: 29.9375em; //max - 479px

$container_padding: 5%;
