$icomoon-font-path: "fonts" !default;

$icon-sipka: "\e900";
$icon-instagram: "\e901";
$icon-youtube: "\e902";
$icon-fb: "\e903";
$icon-like: "\e906";
$icon-mail: "\e907";
$icon-monitor: "\e908";
$icon-point: "\e909";
$icon-share: "\e90a";
$icon-tel: "\e90b";

