.heading {
  position: relative;
  padding:$_15 0;
  font-weight: $headings-font-weight - 100;
  text-transform: uppercase;
  padding-top: $_70;
  &__subtitle {
    font-size: $_24;
    font-family: $font-family-nexa-l;
    letter-spacing: $letter-spacing-small;
    color:$color-text;
    padding-bottom: $_30;
  }
  &__title {
    font-size: $_36;
    font-family: $font-family-nexa;
    letter-spacing: $letter-spacing-base;
    line-height: $line-height-base;
  }
  &__intro {
    font-family: "Open Sans";
    color: $color-black;
    font-size: $font-family-base;
  }
  &:before {
    @include position(absolute, 0 auto auto 50%);
    @include transform(translateX(-50%));
    content: '';
    width: $_100 * 1.7;
    height: 2px;
    background-color: $color-b;
  }
}