@font-face {
  font-family: 'lainfini';
  src:  url('fonts/lainfini.eot?708tev');
  src:  url('fonts/lainfini.eot?708tev#iefix') format('embedded-opentype'),
    url('fonts/lainfini.ttf?708tev') format('truetype'),
    url('fonts/lainfini.woff?708tev') format('woff'),
    url('fonts/lainfini.svg?708tev#lainfini') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lainfini' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-r:before {
  content: "\e900";
}
.icon-arrow-l:before {
  content: "\e901";
}
.icon-arrow-up:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-youtube:before {
  content: "\e909";
}
.icon-google:before {
  content: "\e90a";
}
.icon-pinterest:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90e";
}
.icon-shop:before {
  content: "\e90f";
}
.icon-wishlist:before {
  content: "\e910";
}
.icon-see-detail:before {
  content: "\e90c";
}
.icon-logout:before {
  content: "\e90d";
}

