<div class="part_configurator_action">
    <div class="row">
        {{!
        <div class="col col-6 col-12-t">
            <a href="#" class="btn btn-type-1 big">
                <span class="icon icon-save"></span>
                <i>Uložit design</i>
            </a>
        </div>
        !}}
        <div class="col col-12 col-12-t">
            <a href="configurator-summary.html" class="btn btn-type-1 big">
                <span class="icon icon-cart"></span>
                <i>Přidat do poptávky</i>
            </a>
        </div>
    </div>
</div>