<div class="part_configurator_chat">
    {{> "parts/ui/heading" h="4" type="2" heading="Potřebujete poradit?" sub_heading="Neváhejte nás kontaktovat, rádi pomůžeme!"}}
    <div class="btns text-center">
        <a href="#" title="" class="btn btn-type-2 color-c"><i>Otevřít chat</i></a>
    </div>
</div>