<div class="part_form">
    <fieldset class="row">
        <div class="col col-12">
            <div class="item">
                <label class="hide">Předmět vašeho dotazu</label>
                <select class="select">
                    <option>Vyberte předmět vašeho dotazu</option>
                </select>
            </div>
            <div class="item">
                <label class="hide">Jméno a příjmení</label>
                <input type="text" name="f-text" placeholder="Jméno a příjmení...." />
            </div>
            <div class="item">
                <label class="hide">Telefon</label>
                <input type="tel" name="f-tel" placeholder="Telefon...." />
            </div>
            <div class="item">
                <label class="hide">Email</label>
                <input type="email" name="f-email" placeholder="Email...." />
            </div>
            <div class="item">
                <label class="hide">Váš vzkaz</label>
                <textarea name="f-text" placeholder="Váš vzkaz...."></textarea>
            </div>
            <div class="btns">
                <button class="btn btn-type-1 color-c big">
                    <span class="icon icon-mail"></span>
                    <i>Odeslat dotaz</i>
                </button>
            </div>
        </div>
    </fieldset>
</div>