<div class="part_configurator_options">
    <div class="switch-area">
        <div class="switch-content active">
            <div class="part_form">
                <fieldset class="row">
                    <div class="col col-12">
                        <div class="item">
                            <label class="hide">Typ</label>
                            <select class="select">
                                <option>- Typ -</option>
                                <option>T-Shirt</option>
                                <option>Sweatshirt</option>
                                <option>Bunda</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="item">
                            <label class="hide">Materiál</label>
                            <select class="select">
                                <option>- Materiál -</option>
                                <option>Volba 1</option>
                                <option>Volba 2</option>
                                <option>Volba 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="item">
                            <label class="hide">Barva</label>
                            <select class="select">
                                <option>- Barva -</option>
                                <option>Volba 1</option>
                                <option>Volba 2</option>
                                <option>Volba 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="item">
                            <label class="hide">Kategorie</label>
                            <select class="select">
                                <option>- Kategorie -</option>
                                <option>Volba 1</option>
                                <option>Volba 2</option>
                                <option>Volba 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="item">
                            <label class="hide">Popis produktu</label>
                            <textarea name="f-text" placeholder="Popis produktu ..."></textarea>
                        </div>
                    </div>
                    <!--<strong class="legend"><i>Množství</i></strong>-->
                    <hr /><br />
                    <div class="col col-12">
                        <div class="item">
                            <label class="hide">Počet</label>
                            <input type="text" name="f-number" placeholder="Počet ..." />
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="item">
                            <label class="hide">Velikost</label>
                            <select class="select">
                                <option>- Velikost -</option>
                                <option>Volba 1</option>
                                <option>Volba 2</option>
                                <option>Volba 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col col-12">
                        <div class="item">
                            <label class="hide">Gramáž</label>
                            <input type="text" name="f-number" placeholder="Gramáž ..." />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>