<div class="part_configurator_preview" data-switch-preview>
    <div class="switch-area">
        <div class="switch-content active">
            <picture class="image">
                <img src="//placehold.it/400x490" alt="" />
            </picture>
        </div>
        {{!
        <div class="switch-content">
            <picture class="image">
                <img src="//placehold.it/400x490/bbb/" alt="" />
            </picture>
        </div>
        !}}
    </div>
    {{!
    <div class="switch-nav multi">
        <a href="#" class="switch-button btn btn-type-2 color-c active"><i>Pohled zepředu</i></a><a href="#" class="switch-button btn btn-type-2 color-c"><i>Pohled zezadu</i></a>
    </div>
    !}}
</div>