html, body {
  font-family: $font-family-base;
  font-size: $font-size-root * 0.7;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-root * 0.8;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-root;
  }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
}

a {
  text-decoration: none;
}

[class^="col-"] {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#page {

  margin-top: $page_margin_mobile;

  @include media-breakpoint-up(sm) {
    margin-top: $page_margin_tablet;
  }

  @include media-breakpoint-up(lg) {
    margin-top: $page_margin;
  }

}