html, body {
  font-family: $font-family-base;
  font-size: $font-size-root * .8;
  @include media-breakpoint-up(sm) {
    font-size: $font-size-root * .9;
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-root;
  }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
}

a {
  text-decoration: none;
}

[class^="col-"] {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#page {
  margin-top: $page_margin;
}