.navigation {
  background: $color-black;
  border-bottom: 2px solid lighten($color-black,20%);
  .row {
    align-items: center;
  }
  #logo, .logo--partner {
    @include display(inline-block);
    vertical-align: middle;
  }
  .logo--partner {
    padding-left: $_3;
  }
  .navigation__wrapper {
    @include display(table-cell);

    nav {
      @include display(table-cell);
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      @include display(inline-block);
      padding: $_25 $_13;
      transition: background 0.3s ease;
      @include MQ($screen-ex) {
        padding: $_25 $_10;
      }
      a {
        font-size: $_15;
        color: $color-white;
        text-decoration: none;
        @include MQ($screen-ex) {
          font-size: $_14;
        }
        i {
          font-size: $_8;
          color: lighten($color-black, 58%);
        }
      }
      &:hover {
        background: lighten($color-black,14%);
        cursor: pointer;
      }
    }

    .active {}
  }

}