@import "../ui/fonts";


html, body {
  font-size: $initial;
  font-family: $font-main;
  @include MQ($screen-lg) {
    font-size: $initial * 0.8;
  }
}
.container-fluid {
  margin:0 auto;
  max-width: $_1160;
  padding: 0 $container_padding;
}