<main id="page">
    <div class="basket">
        <div class="product-list">
            <div class="container">
                <div class="row">
                    <div class="col-12 product-list__item">
                        <div class="product-list__item--flex">
                            <div class="product-list__bg col-12 col-sm-2">
                                <img src="../userfiles/arrival-1.png" alt="basket product">
                            </div>
                            <div class="product-list__content col-12 col-sm-10">
                                <div class="product-list__title col-12 col-sm-4">
                                    <h4>Blue moon</h4>
                                    <div class="item-counter">
                                        <i class="minus">-</i>
                                        <span class="status">1</span>
                                        <i class="plus">+</i>
                                    </div>
                                </div>
                                <div class="product-list__info col-12 col-sm-4">
                                    60x50 cm <br>
                                    50x30cm <br>
                                    printed fine silk
                                </div>
                                <div class="product-list__price col-12 col-sm-3">
                                    <span>$239.00</span>
                                </div>
                                <div class="product-list__action col-12 col-sm-1">
                                    <i class="icon icon-close"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 product-list__item">
                        <div class="product-list__item--flex">
                            <div class="product-list__bg col-12 col-sm-2">
                                <img src="../userfiles/arrival-1.png" alt="basket product">
                            </div>
                            <div class="product-list__content col-12 col-sm-10">
                                <div class="product-list__title col-12 col-sm-4">
                                    <h4>Blue moon</h4>
                                    <div class="item-counter">
                                        <i class="minus">-</i>
                                        <span class="status">1</span>
                                        <i class="plus">+</i>
                                    </div>
                                </div>
                                <div class="product-list__info col-12 col-sm-4">
                                    60x50 cm <br>
                                    50x30cm <br>
                                    printed fine silk
                                </div>
                                <div class="product-list__price col-12 col-sm-3">
                                    <span>$239.00</span>
                                </div>
                                <div class="product-list__action col-12 col-sm-1">
                                    <i class="icon icon-close"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 product-list__item">
                        <div class="product-list__item--flex">
                            <div class="product-list__bg col-12 col-sm-2">
                                <img src="../userfiles/arrival-1.png" alt="basket product">
                            </div>
                            <div class="product-list__content col-12 col-sm-10">
                                <div class="product-list__title col-12 col-sm-4">
                                    <h4>Blue moon</h4>
                                    <div class="item-counter">
                                        <i class="minus">-</i>
                                        <span class="status">1</span>
                                        <i class="plus">+</i>
                                    </div>
                                </div>
                                <div class="product-list__info col-12 col-sm-4">
                                    60x50 cm <br>
                                    50x30cm <br>
                                    printed fine silk
                                </div>
                                <div class="product-list__price col-12 col-sm-3">
                                    <span>$239.00</span>
                                </div>
                                <div class="product-list__action col-12 col-sm-1">
                                    <i class="icon icon-close"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-5 offset-sm-6">
                        <div class="ui-total-price">
                            <div class="title">
                                subtotal
                            </div>
                            <div class="price">
                                $439.00
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ui-btn-double-type">
                        <div class="col-12 col-sm-4 offset-sm-2">
                            <div class="btn__inline offset-vertical-30">
                                <a href="#" data-reveal>continue shopping</a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-5">
                            <div class="btn__inline offset-vertical-30">
                                <a href="#" class="btn" data-reveal>check out your basket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="last-view offset-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center offset-bottom-30">
                    <h3>last viewed designs</h3>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="last-view__item">
                        <img src="../userfiles/last-1.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="last-view__item">
                        <img src="../userfiles/last-2.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="last-view__item">
                        <img src="../userfiles/last-1.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="last-view__item">
                        <img src="../userfiles/last-2.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-nav">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="d-inline-block">
                        <nav class="social-nav__links offset-vertical-50">
                            <ul>
                                <li><a class="mod--1" href="#">Terms of Service</a></li>
                                <li><a class="mod--1" href="#">customer Service</a></li>
                                <li><a class="mod--1" href="#">Returns</a></li>
                                <li><a class="mod--1" href="#">Privacy Policy</a></li>
                                <li><a class="mod--1" href="#">about cookies</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div class="d-inline-block">
                        <ul class="social-nav__icons">
                            <li><a href=""><i class="icon icon-facebook"></i></a></li>
                            <li><a href=""><i class="icon icon-twitter"></i></a></li>
                            <li><a href=""><i class="icon icon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
