<div class="text-page" data-reveal>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1">
        <div class="wsw">
          <h1>this is my true story headline</h1>
          <p>
            <b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<br>
          </p>
          <ul class="d-block disc" style="margin-left: 50px;">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li><a href="#">Visit link</a></li>
          </ul>
          <p>
            <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<br>
          </p>
          <h2>Heading second level</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<br>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<br>
          </p>
          <h3>Heading 3th level</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<br>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<br>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<br>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.<br>
          </p>
          <div class="part_wsw wsw">
            <ul class="disc text-left" style="margin-left: 50px;">
              <li>100% bavlna Belcoro ®</li>
              <li>97% bavlna, 3% polyester (Heather Grey)</li>
              <li>Klasické triko dámského střihu</li>
              <li>Hmotnost: 165 g/m² (bílá: 160 g/m²)</li>
              <li>Náplet u krku s Lycrou</li>
              <li>Dvojitý šev na ukončení rukávu a v pase</li>
              <li>Vyrobeno za použití příze Belcoro ® pro měkčí pocit a čistší potisk materiálu.</li></li>
            </ul>
          </div>
          <p><strong>Lorem ipsum</strong> dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Consequatur expedita perspiciatis, praesentium ut veritatis voluptate. A accusantium architecto autem consectetur, distinctio dolor doloribus ea eos exercitationem fuga iste itaque labore, natus omnis optio quaerat quos,
            ratione repellendus sint sunt velit voluptate voluptatum! Animi architecto fuga fugiat fugit id, quae voluptate?</p>
          <div class="row">
            <div class="col-12 col-sm-4">
              <ul class="text-center d-block">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li><a href="#">Visit link</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-4">
              <ul class="text-left d-block disc">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li><a href="#">Visit link</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-4">
              <ul class="text-center d-block">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet</li>
                <li><a href="#">Visit link</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-4">
              <img src="//placehold.it/480x460" class="block-center" alt="placeholder">
            </div>
            <div class="col-12 col-sm-4">
              <img src="//placehold.it/480x460" class="block-center" alt="placeholder">
            </div>
            <div class="col-12 col-sm-4">
              <img src="//placehold.it/480x460" class="block-center" alt="placeholder">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="social-nav" data-reveal>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="d-inline-block">
          <ul class="social-nav__icons">
            <li><a href=""><i class="icon icon-facebook"></i></a></li>
            <li><a href=""><i class="icon icon-twitter"></i></a></li>
            <li><a href=""><i class="icon icon-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cookies">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam asperiores cupiditate debitis! <a
          href="#">lorem ipsum</a></p>
      </div>
      <div class="col-1">
        <i class="icon icon-close"></i>
      </div>
    </div>
  </div>
</div>