<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../dist/build/webStyles.css">
</head>
<body>

    <header class="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <a href="#" id="logo">
                        <img src="../img/logo.png" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-xs-9 navigation__wrapper">
                    <nav>
                        <ul>
                            <li class="active"><a href="#">Produkty <i class="icon icon-sipka"></i></a></li>
                            <li><a href="#">Textil <i class="icon icon-sipka"></i></a></li>
                            <li><a href="#">Vyplétací stroje <i class="icon icon-sipka"></i></a></li>
                            <li><a href="#">Tým <i class="icon icon-sipka"></i></a></li>
                            <li><a href="#">Podporujeme <i class="icon icon-sipka"></i></a></li>
                            <li><a href="#">Prodejní místa <i class="icon icon-sipka"></i></a></li>
                            <li><a href="#">O nás <i class="icon icon-sipka"></i></a></li>
                            <li><a href="#">Kontakt <i class="icon icon-sipka"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-1">
                    <a href="#" class="logo--partner">
                        <img src="../img/logo-partner.png" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="banner static">
        <div class="banner__wrapper banner--slide">
            <div class="banner__item">
                <picture class="banner__item__picture">
                    <source srcset="//placehold.it/1920x1080/000" media="(min-width: 1280px)">
                    <source srcset="//placehold.it/1024x768/000" media="(min-width: 768px)">
                    <source srcset="//placehold.it/768x480/000" media="(max-width: 767px)">
                    <img src="//placehold.it/1920x1080" alt="">
                </picture>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 text-wrapper">
                            <div class="banner__item__text wsw headings">
                                <h1 class="heading">Technologie Dynacore</h1>
                                <p>
                                    Technologie Dynacore je bezkonkurenční kombinací flexibility a torzní stability. Zaručuje pocit
                                    stálosti rámu a dlouhotrvající výkon pro agresivní hráče.
                                </p>
                                <a href="#" class="btn btn-default btn-success btn-type-1">Dozvědět se více</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__item">
                <picture class="banner__item__picture">
                    <source srcset="//placehold.it/1920x1080" media="(min-width: 1280px)">
                    <source srcset="//placehold.it/1024x768" media="(min-width: 768px)">
                    <source srcset="//placehold.it/768x480" media="(max-width: 767px)">
                    <img src="//placehold.it/1920x1080" alt="">
                </picture>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 text-wrapper">
                            <div class="banner__item__text">
                                <h1>Technologie Dynacore</h1>
                                <p>
                                    Technologie Dynacore je bezkonkurenční kombinací flexibility a torzní stability. Zaručuje pocit
                                    stálosti rámu a dlouhotrvající výkon pro agresivní hráče.
                                </p>
                                <a href="#" class="btn btn-default btn-success btn-type-1">Dozvědět se více</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="news">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs headings">
                    <h2 class="heading heading--type-1">Novinky</h2>
                </div>
            </div>
            <div class="row news-items">
                <div class="col-xs-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="//placehold.it/400" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Na trhu vyšla nová raketa T- Fight</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet.lacus accumsan.
                            </p>
                            <a href="#" class="btn btn--type-1">Více</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="//placehold.it/400" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Na trhu vyšla nová raketa T- Fight</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet.lacus accumsan.
                            </p>
                            <a href="#" class="btn btn-default btn--type-1">Více</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="//placehold.it/400" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Na trhu vyšla nová raketa T- Fight</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                                laoreet. Proin gravida dolor sit amet.lacus accumsan.
                            </p>
                            <a href="#" class="btn btn-default btn--type-1">Více</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner static banner--small">
        <div class="banner__wrapper banner--fade">
            <div class="banner__item">
                <picture class="banner__item__picture">
                    <source srcset="//placehold.it/1920x1080/faf" media="(min-width: 1280px)">
                    <source srcset="//placehold.it/1024x640/000" media="(min-width: 768px)">
                    <source srcset="//placehold.it/768x480/000" media="(max-width: 767px)">
                    <img src="//placehold.it/1920x1080/fff" alt="">
                </picture>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 text-wrapper">
                            <div class="banner__item__text wsw headings">
                                <h1 class="heading">Technologie PolymerCore</h1>
                                <p>
                                    Technologie Dynacore je bezkonkurenční kombinací flexibility a torzní stability. Zaručuje pocit
                                    stálosti rámu a dlouhotrvající výkon pro agresivní hráče.
                                </p>
                                <a href="#" class="btn btn-default btn-success btn-type-1">Dozvědět se více</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner__item">
                <picture class="banner__item__picture">
                    <source srcset="//placehold.it/1920x1080/aff" media="(min-width: 1280px)">
                    <source srcset="//placehold.it/1024x640/000" media="(min-width: 768px)">
                    <source srcset="//placehold.it/768x480/000" media="(max-width: 767px)">
                    <img src="//placehold.it/1920x1080/aff" alt="">
                </picture>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 text-wrapper">
                            <div class="banner__item__text wsw headings">
                                <h1 class="heading">Technologie PolymerCore</h1>
                                <p>
                                    Technologie Dynacore je bezkonkurenční kombinací flexibility a torzní stability. Zaručuje pocit
                                    stálosti rámu a dlouhotrvající výkon pro agresivní hráče.
                                </p>
                                <a href="#" class="btn btn-default btn-success btn-type-1">Dozvědět se více</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs">
                    <div class="footer-nav">
                        <div class="title">Důležité odkazy</div>
                        <ul>
                            <li><a href="#">O nás</a></li>
                            <li><a href="#">Kariéra</a></li>
                            <li><a href="#">Kontakty</a></li>
                            <li><a href="#">Novinky</a></li>
                            <li><a href="#">Prodejní místa</a></li>
                            <li><a href="#">Podporujeme</a></li>
                        </ul>
                        <a href="#" class="d-inline-block">
                            <img src="../img/official-racquet.png" alt="official">
                        </a>
                    </div>
                </div>
                <div class="col-xs">
                    <div class="facebook-feed">
                        <div class="title">Sledujte nás na Facebooku</div>
                        <img src="../img/fb-page-box.png" alt="">
                    </div>
                </div>
                <div class="col-xs">
                    <div class="instagram-feed">
                        <div class="title">Instagram</div>
                        <div class="instagram-feed--wrapper">
                                <img src="//placehold.it/80" alt="" class="img-fluid">

                                <img src="//placehold.it/80" alt="" class="img-fluid">

                                <img src="//placehold.it/80" alt="" class="img-fluid">

                                <img src="//placehold.it/80" alt="" class="img-fluid">

                                <img src="//placehold.it/80" alt="" class="img-fluid">

                                <img src="//placehold.it/80" alt="" class="img-fluid">

                                <img src="//placehold.it/80" alt="" class="img-fluid">

                                <img src="//placehold.it/80" alt="" class="img-fluid">

                                <img src="//placehold.it/80" alt="" class="img-fluid">
                        </div>


                    </div>
                </div>
                <div class="col-xs">
                    <div class="contact-us">
                        <div class="title">Napište nám</div>
                        <ul>
                            <li><a href="#">+420 603 505 539</a></li>
                            <li><a href="#">prokennex@prokennex.cz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="../dist/build/webScripts.js"></script>
</body>
</html>