<div class="login_page">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading heading--mod-bottom mb-5" data-reveal="true">
          <h1 class="heading__title"><span>please login to proceed</span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <form class="proceed_box">
          <h3 class="mb-3">New Customer</h3>
          <p class="mb-5">Sign up to place your order and receive exclusive offers.</p>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="Your@email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="Your name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="Your surname">
          </div>
          <button class="btn btn-block mt-4 mb-4 text-uppercase">Sign Up</button>
          <p class="text-center">Or sign in with your existing social media account</p>
          <ul class="social-nav__icons">
            <li><a href=""><i class="icon icon-facebook"></i></a></li>
            <li><a href=""><i class="icon icon-twitter"></i></a></li>
            <li><a href=""><i class="icon icon-instagram"></i></a></li>
            <li><a href=""><i class="icon icon-google"></i></a></li>
          </ul>
        </form>
      </div>
      <div class="col-12 col-lg-6">
        <form class="proceed_box">
          <h3 class="mb-3">Returning Customer</h3>
          <p class="mb-5">Log in to recall your saved details and speed up your purchase.</p>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="Your@email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="" placeholder="Your name">
          </div>
          <div class="pt-4 pb-4">
            <a href="#" class="forgot-pass d-block pt-1 text-center ">Forgotten password?</a>
          </div>

          <button class="btn btn-block mt-4 mb-4 text-uppercase">Sign In</button>
          <p class="text-center">Or sign in with your existing social media account</p>
          <ul class="social-nav__icons">
            <li><a href=""><i class="icon icon-facebook"></i></a></li>
            <li><a href=""><i class="icon icon-twitter"></i></a></li>
            <li><a href=""><i class="icon icon-instagram"></i></a></li>
            <li><a href=""><i class="icon icon-google"></i></a></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="social-nav" data-reveal>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="d-inline-block">
          <nav class="social-nav__links offset-vertical-50">
            <ul>
              <li><a class="mod--1" href="#">Terms of Service</a></li>
              <li><a class="mod--1" href="#">customer Service</a></li>
              <li><a class="mod--1" href="#">Returns</a></li>
              <li><a class="mod--1" href="#">Privacy Policy</a></li>
              <li><a class="mod--1" href="#">about cookies</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="d-inline-block">
          <ul class="social-nav__icons">
            <li><a href=""><i class="icon icon-facebook"></i></a></li>
            <li><a href=""><i class="icon icon-twitter"></i></a></li>
            <li><a href=""><i class="icon icon-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>