<div class="user-settings">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        <nav class="user-settings__menu">
          <ul>
            <li class="active"><a href="#">Uzivatelske Menu</a></li>
            <li><a href="#">Historie Objednavek</a></li>
            <li><a href="#">Stiznosti</a></li>
            <li><a href="#">Seznam adress</a></li>
            <li><a href="#">Nastaveni uzivatele</a></li>
            <li><a href="#">Propojene ucty</a></li>
            <li><a href="#">Zmena hesla</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <div class="user-settings__box__title last-order">
          <span>Posledni Objednavky</span>
        </div>
        <div class="last-orders">
          <div class="last-orders__list row">
            <div class="col-12 col-sm-5 col-lg-12">
              <div class="row last-orders__item">
                <div class="col-12 col-lg-2">
                  <img src="../userfiles/kachina.png" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__title">
                    <h6>Shift Round <small><a href="#">(+ 5 more)</a></small></h6>
                    <small>ze dne 03/04/2017</small>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__desc">
                    Prepare for shipping <br>
                    <small>posledni aktualize: 02/02/2018</small>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="ui-btn-double-type">
                    <a href="#" class="last-orders__btn last-orders__btn-1">Shipping</a>
                    <a href="#" class="last-orders__btn last-orders__btn-2">Detail</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-5 col-lg-12">
              <div class="row last-orders__item">
                <div class="col-12 col-lg-2">
                  <img src="../userfiles/kachina.png" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__title">
                    <h6>Shift Round <small><a href="#">(+ 5 more)</a></small></h6>
                    <small>ze dne 03/04/2017</small>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__desc">
                    Prepare for shipping <br>
                    <small>posledni aktualize: 02/02/2018</small>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="ui-btn-double-type">
                    <a href="#" class="last-orders__btn last-orders__btn-1">Shipping</a>
                    <a href="#" class="last-orders__btn last-orders__btn-2">Detail</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-5 col-lg-12">
              <div class="row last-orders__item">
                <div class="col-12 col-lg-2">
                  <img src="../userfiles/kachina.png" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__title">
                    <h6>Shift Round <small><a href="#">(+ 5 more)</a></small></h6>
                    <small>ze dne 03/04/2017</small>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__desc">
                    Prepare for shipping <br>
                    <small>posledni aktualize: 02/02/2018</small>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="ui-btn-double-type">
                    <a href="#" class="last-orders__btn last-orders__btn-1">Shipping</a>
                    <a href="#" class="last-orders__btn last-orders__btn-2">Detail</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-5 col-lg-12">
              <div class="row last-orders__item">
                <div class="col-12 col-lg-2">
                  <img src="../userfiles/kachina.png" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__title">
                    <h6>Shift Round <small><a href="#">(+ 5 more)</a></small></h6>
                    <small>ze dne 03/04/2017</small>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__desc">
                    Prepare for shipping <br>
                    <small>posledni aktualize: 02/02/2018</small>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="ui-btn-double-type">
                    <a href="#" class="last-orders__btn last-orders__btn-1">Shipping</a>
                    <a href="#" class="last-orders__btn last-orders__btn-2">Detail</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="user-settings__box__title last-order">
          <span>Otevrene stiznosti</span>
        </div>
        <div class="last-orders">
          <div class="last-orders__list row">
            <div class="col-12 col-sm-5 col-lg-12">
              <div class="row last-orders__item">
                <div class="col-12 col-lg-2">
                  <img src="../userfiles/arrival-1.png" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__title">
                    <h6>Shift Round <small><a href="#">(+ 5 more)</a></small></h6>
                    <small>ze dne 03/04/2017</small>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__desc">
                    Discussed <br>
                    <small>posledni aktualize: 02/02/2018</small>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="ui-btn-double-type">
                    <a href="#" class="last-orders__btn last-orders__btn-1">Shipping</a>
                    <a href="#" class="last-orders__btn last-orders__btn-2">Detail</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-5 col-lg-12">
              <div class="row last-orders__item">
                <div class="col-12 col-lg-2">
                  <img src="../userfiles/profil-anna.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__title">
                    <h6>Shift Round <small><a href="#">(+ 5 more)</a></small></h6>
                    <small>ze dne 03/04/2017</small>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <div class="last-orders__desc">
                    Discussed <br>
                    <small>posledni aktualize: 02/02/2018</small>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="ui-btn-double-type">
                    <a href="#" class="last-orders__btn last-orders__btn-1">Shipping</a>
                    <a href="#" class="last-orders__btn last-orders__btn-2">Detail</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>