<div class="user-settings">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-3">
        <nav class="user-settings__menu">
          <ul>
            <li class="active"><a href="#">Uzivatelske Menu</a></li>
            <li><a href="#">Historie Objednavek</a></li>
            <li><a href="#">Stiznosti</a></li>
            <li><a href="#">Seznam adress</a></li>
            <li><a href="#">Nastaveni uzivatele</a></li>
            <li><a href="#">Propojene ucty</a></li>
            <li><a href="#">Zmena hesla</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <div class="user-settings__box__title last-order">
          <span>Vase mista pobytu</span>
        </div>
        <div class="adress-place">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="row adress-place__item adress-place__item--small-padding">
                <div class="col-8">
                  <div class="adress-place__content">
                    <b>40200304****2321</b> <br>
                    <p>platnost do 21.10.2017</p>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../userfiles/vis.png" class="img-fluid" alt="">
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="row adress-place__item adress-place__item--small-padding">
                <div class="col-8">
                  <div class="adress-place__content">
                    <b>40200304****2321</b> <br>
                    <p>platnost do 21.10.2017</p>
                  </div>
                </div>
                <div class="col-4">
                  <img src="../userfiles/vis.png" class="img-fluid" alt="">
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="row adress-place__item adress-place__item--strip adress-place__item--grey-bg">
                <div class="col-2">
                  <i class="icon icon-close"></i>
                </div>
                <div class="col-10">
                  <div class="adress-place__content">
                    <a href="#">Pridat kartu</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


<!--
Stav duvo replamace :
 Duvod stav, vyjadreni.
 Duvod textarea
 Hlasky,
-->