<div class="user-settings">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <nav class="user-settings__menu">
          <ul>
            <li class="active"><a href="#">Uzivatelske Menu</a></li>
            <li><a href="#">Historie Objednavek</a></li>
            <li><a href="#">Stiznosti</a></li>
            <li><a href="#">Seznam adress</a></li>
            <li><a href="#">Nastaveni uzivatele</a></li>
            <li><a href="#">Propojene ucty</a></li>
            <li><a href="#">Zmena hesla</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-9">
        <div class="user-settings__box__title last-order">
          <span>Posledni Objednavky</span>
        </div>
        <div class="basket">
          <div class="product-list">
            <div class="row">
              <div class="col-12 product-list__item">
                <div class="product-list__item--flex">
                  <div class="product-list__bg col-12 col-sm-2">
                    <img src="/b62b3ab812e9975d5f47ff09a6ed29df.png" alt="basket product">
                  </div>
                  <div class="product-list__content col-12 col-sm-10">
                    <div class="product-list__title col-12 col-sm-4">
                      <h4>Blue moon</h4>
                      <span>ze dne 03/25/2017</span>
                    </div>
                    <div class="product-list__info col-12 col-sm-4">
                      <span>Preparing for shipment</span>
                      posledni aktualizace: 03/25/2017
                    </div>
                    <div class="product-list__price col-12 col-sm-3">
                      <a href="#" class="btn">Shipping</a>
                    </div>
                    <div class="product-list__action col-12 col-sm-1">
                      <a href="#" class="btn">detail</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>