<div class="wishlist">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="heading  heading--mod-bottom" data-reveal>
                    <div class="heading__subtitle"></div>
                    <h3 class="heading__title">your wishlist</h3>
                </div>
            </div>
        </div>
        <div class="row wishlist-product-list text-center animated fadeInUp">
            <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
                <div class="wish-product">
                    <div class="wish-product__background">
                        <img class="img-fluid" src="../userfiles/arrival-1.png" alt="product img">
                    </div>
                    <div class="wish-product__content">
                        <div class="wish-product__title">
                            <h4>Blue moon</h4>
                            <i class="icon icon-shop"></i>
                        </div>
                        <div class="wish-product__price">
                            <span>$239.00</span>
                        </div>
                    </div>
                    <div class="social-nav" data-reveal>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="d-inline-block">
                                    <ul class="social-nav__icons">
                                        <li><a href=""><i class="icon icon-facebook"></i></a></li>
                                        <li><a href=""><i class="icon icon-twitter"></i></a></li>
                                        <li><a href=""><i class="icon icon-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
                <div class="wish-product">
                    <a href="#">
                        <div class="wish-product__background">
                            <img class="img-fluid" src="../userfiles/arrival-1.png" alt="product img">
                        </div>
                        <div class="wish-product__content">
                            <div class="wish-product__title">
                                <h4>Blue moon</h4>
                                <i class="icon icon-shop"></i>
                            </div>
                            <div class="wish-product__price">
                                <span>$239.00</span>
                            </div>
                        </div>
                    </a>
                    <div class="social-nav" data-reveal>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="d-inline-block">
                                    <ul class="social-nav__icons">
                                        <li><a href=""><i class="icon icon-facebook"></i></a></li>
                                        <li><a href=""><i class="icon icon-twitter"></i></a></li>
                                        <li><a href=""><i class="icon icon-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
                <div class="wish-product">
                    <div class="wish-product__background">
                        <img class="img-fluid" src="../userfiles/arrival-1.png" alt="product img">
                    </div>
                    <div class="wish-product__content">
                        <div class="wish-product__title">
                            <h4>Blue moon</h4>
                            <i class="icon icon-shop"></i>
                        </div>
                        <div class="wish-product__price">
                            <span>$239.00</span>
                        </div>
                    </div>
                    <div class="social-nav" data-reveal>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="d-inline-block">
                                    <ul class="social-nav__icons">
                                        <li><a href=""><i class="icon icon-facebook"></i></a></li>
                                        <li><a href=""><i class="icon icon-twitter"></i></a></li>
                                        <li><a href=""><i class="icon icon-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6 col-xl-3">
                <div class="wish-product">
                    <div class="wish-product__background">
                        <img class="img-fluid" src="../userfiles/arrival-1.png" alt="product img">
                    </div>
                    <div class="wish-product__content">
                        <div class="wish-product__title">
                            <h4>Blue moon</h4>
                            <i class="icon icon-shop"></i>
                        </div>
                        <div class="wish-product__price">
                            <span>$239.00</span>
                        </div>
                    </div>
                    <div class="social-nav" data-reveal>
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="d-inline-block">
                                    <ul class="social-nav__icons">
                                        <li><a href=""><i class="icon icon-facebook"></i></a></li>
                                        <li><a href=""><i class="icon icon-twitter"></i></a></li>
                                        <li><a href=""><i class="icon icon-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center offset-top-50" data-reveal>
                <a href="#" class="btn">save your wishlist</a>
            </div>
        </div>
    </div>
</div>
<div class="social-nav" data-reveal>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="d-inline-block">
          <nav class="social-nav__links offset-vertical-50">
            <ul>
              <li><a class="mod--1" href="#">Terms of Service</a></li>
              <li><a class="mod--1" href="#">customer Service</a></li>
              <li><a class="mod--1" href="#">Returns</a></li>
              <li><a class="mod--1" href="#">Privacy Policy</a></li>
              <li><a class="mod--1" href="#">about cookies</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="d-inline-block">
          <ul class="social-nav__icons">
            <li><a href=""><i class="icon icon-facebook"></i></a></li>
            <li><a href=""><i class="icon icon-twitter"></i></a></li>
            <li><a href=""><i class="icon icon-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>