.btn {
  @include btn($_20 $_50,$color-b,$color-white,transparent);
}
.btn__inline {
  .btn {
    display: block;
    margin-bottom: $_20;
    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
    &-center {
      text-align: center;
    }
  }

  [class^="col-"] {
    &:last-of-type {
      .btn {
        margin-bottom: 0;
      }
    }
  }
}