.cookies {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  background-color: $color-black;
  color: $color-white;
  padding: $_10 0;
  text-align: center;
  animation: .5s ease-in 0s normal backwards 1 running fadeInUp;
  z-index: 9999;
  .row {
    align-items: center;
  }
  .icon {
    padding: $_10;
    &:hover {
      cursor: pointer;
    }
  }
}