.lookbook {
    position: relative;
    overflow: hidden;
    padding-bottom: $_50;
    &:before {
      position: absolute;
      content: 'unique & inspired';
      text-transform: uppercase;
      font-size: $_100*2.5;
      font-weight: $font-weight-bold;
      color:#875f37;
      opacity:.1;
      bottom:-10px;
      white-space:nowrap;
      text-shadow: 15px 15px 15px rgba(0,0,0,0.5);
    }

    &__slider {
      position: relative;
      overflow: hidden;
      padding-top: $_100;
      padding-bottom: $_100;
      &__item {
        transition: transform 0.9s ease-in-out;
      }
    }
    .slick-current {
      position: relative;
      z-index: 999;
    }
    &__wrapper {
      padding-top: 0;
      padding-bottom: $_40;
      &__arrow {
        @include position(absolute, 50% auto auto auto);
        transform: translateY(-50%);
        &:hover {
          cursor: pointer;
        }
        &:before {
          font-size: $_40;
          color: $color-b;
        }
        &.icon-arrow-l {
          left: -$_100;
        }
        &.icon-arrow-r {
          right: -$_100;
        }
      }
    }
    .slick-list {
      overflow: visible;
    }
    .slick-current {
      transform: scale(1.5);
    }
}