.sp {
  .visual {
    min-height: $min-height - $_100 * 1.5;
    height: calc(100vh - 400px);
  }
}
.visual {
  position: relative;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 100px);
  min-height: $min-height;
  line-height: $line-height-base;
  &__heading {
    @include position(absolute, 50% 0 auto 0);
    @include transform(translateY(-50%));
    color: $color-white;

  }

  &__title, &__subtitle {
    font-weight: $headings-font-weight - 200;
    text-transform: uppercase;
    letter-spacing: .3em;
  }

  &__title {
    font-size: $_32;
    @include media-breakpoint-up(sm){
      font-size: $_72;
    }

  }

  &__subtitle {
    font-size: $_16;
    @include media-breakpoint-up(sm){
      font-size: $_30;
    }
  }

  &--mod {
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }

  .heading {
    padding: $_20 0;
    &:before {
      content: none;
    }
  }
}