<div class="arrivals" data-reveal>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 arrivals__slider">
                <div class="arrivals__item text-center">
                    <h2 class="arrivals__title">New arrivals</h2>
                    <p class="arrivals__subtitle">autumn mood</p>
                    <img src="../../userfiles/arrival-1.png" class="img-fluid d-inline-block" alt="new arrival img">
                    <div class="arrivals__author">
                        <a href="#" class="d-block">Design by Anna Krásná</a>
                        <div class="arrivals__icons">
                            <a href="#"><i class="icon icon-wishlist"></i><span>126</span></a>
                            <a href="#"><i class="icon icon-user"></i><span>73</span></a>
                        </div>
                    </div>
                    <a href="#" class="arrivals__buy d-inline-block"><i class="icon icon-shop"></i></a>
                </div>
                <div class="arrivals__item text-center">
                    <h2 class="arrivals__title">New arrivals</h2>
                    <p class="arrivals__subtitle">autumn mood</p>
                    <img src="../../userfiles/arrival-1.png" class="img-fluid d-inline-block" alt="new arrival img">
                    <div class="arrivals__author">
                        <a href="#" class="d-block">Design by Anna Krásná</a>
                        <div class="arrivals__icons">
                            <a href="#"><i class="icon icon-wishlist"></i><span>126</span></a>
                            <a href="#"><i class="icon icon-user"></i><span>73</span></a>
                        </div>
                    </div>
                    <a href="#" class="arrivals__buy d-inline-block"><i class="icon icon-shop"></i></a>
                </div>
                <div class="arrivals__item text-center">
                    <h2 class="arrivals__title">New arrivals</h2>
                    <p class="arrivals__subtitle">autumn mood</p>
                    <img src="../../userfiles/arrival-1.png" class="img-fluid d-inline-block" alt="new arrival img">
                    <div class="arrivals__author">
                        <a href="#" class="d-block">Design by Anna Krásná</a>
                        <div class="arrivals__icons">
                            <a href="#"><i class="icon icon-wishlist"></i><span>126</span></a>
                            <a href="#"><i class="icon icon-user"></i><span>73</span></a>
                        </div>
                    </div>
                    <a href="#" class="arrivals__buy d-inline-block"><i class="icon icon-shop"></i></a>
                </div>
                <div class="arrivals__item text-center">
                    <h2 class="arrivals__title">New arrivals</h2>
                    <p class="arrivals__subtitle">autumn mood</p>
                    <img src="../../userfiles/arrival-1.png" class="img-fluid d-inline-block" alt="new arrival img">
                    <div class="arrivals__author">
                        <a href="#" class="d-block">Design by Anna Krásná</a>
                        <div class="arrivals__icons">
                            <a href="#"><i class="icon icon-wishlist"></i><span>126</span></a>
                            <a href="#"><i class="icon icon-user"></i><span>73</span></a>
                        </div>
                    </div>
                    <a href="#" class="arrivals__buy d-inline-block"><i class="icon icon-shop"></i></a>
                </div>
                <div class="arrivals__item text-center">
                    <h2 class="arrivals__title">New arrivals</h2>
                    <p class="arrivals__subtitle">autumn mood</p>
                    <img src="../../userfiles/arrival-1.png" class="img-fluid d-inline-block" alt="new arrival img">
                    <div class="arrivals__author">
                        <a href="#" class="d-block">Design by Anna Krásná</a>
                        <div class="arrivals__icons">
                            <a href="#"><i class="icon icon-wishlist"></i><span>126</span></a>
                            <a href="#"><i class="icon icon-user"></i><span>73</span></a>
                        </div>
                    </div>
                    <a href="#" class="arrivals__buy d-inline-block"><i class="icon icon-shop"></i></a>
                </div>
                <div class="arrivals__item text-center">
                    <h2 class="arrivals__title">New arrivals</h2>
                    <p class="arrivals__subtitle">autumn mood</p>
                    <img src="../../userfiles/arrival-1.png" class="img-fluid d-inline-block" alt="new arrival img">
                    <div class="arrivals__author">
                        <a href="#" class="d-block">Design by Anna Krásná</a>
                        <div class="arrivals__icons">
                            <a href="#"><i class="icon icon-wishlist"></i><span>126</span></a>
                            <a href="#"><i class="icon icon-user"></i><span>73</span></a>
                        </div>
                    </div>
                    <a href="#" class="arrivals__buy d-inline-block"><i class="icon icon-shop"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>