<div class="boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {{> "parts/ui/heading" subtitle="the proces of making of" title="original handmade scarves" type="h3"}}
            </div>
        </div>
    </div>
    <div class="row boxes__items">
        <div class="boxes__half">
            <div class="boxes__background">
                <img src="../../userfiles/hand.jpg" alt="design">
            </div>
        </div>
        <div class="boxes__half boxes--caption">
            <div class="col-12 col-sm-6 text-center boxes__text">
                <span class="boxes__title">creation techniques</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                </p>
            </div>
            <div class="col-12 col-sm-6">
                <div class="boxes__background">
                    <img src="../../userfiles/silks.jpg" alt="design">
                </div>
            </div>
        </div>
        <div class="boxes__half boxes--caption">
            <div class="col-sm-12 text-center boxes__text">
                <span class="boxes__title">unique materials comfortable to wear</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                    accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                </p>
            </div>
        </div>
        <div class="boxes__half">
            <div class="boxes__background">
                <img src="../../userfiles/paint.jpg" alt="design">
            </div>
        </div>
    </div>
</div>