<div class="boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {{> "parts/ui/heading" subtitle="the proces of making of" title="original handmade scarves" type="h3"}}
            </div>
        </div>
    </div>
    <div class="boxes__item">
        <div class="boxes__half">
            <img src="../../userfiles/benefit_second_child.jpg" alt="img info caption">
        </div>
        <div class="boxes__half boxes--caption"></div>
    </div>
</div>