<div class="comp_breadcrumbs">
    <div class="content">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#" title=""><i>Skladový textil</i></a>
                <em>></em>
                <a href="#" title=""><i>Trika</i></a>
                <em>></em>
                <a href="#" title=""><i>Fruit of the Loom</i></a>
                <em>></em>
                <a><i>Fruit of the Loom</i></a>
            </div>
        </div>
    </div>
</div>