<div class="comp_category_header">
    <div class="container">
        <div class="row">
            <div class="col col-3">
                {{> "parts/filter_top"}}
            </div>
            <div class="col col-9">
                <div class="row top_stripe">
                    <div class="col col-4">
                        <div class="title">
                            DÁMSKÁ TRIČKA
                        </div>
                    </div>
                    <div class="col col-8 text-right">
                        <ul class="breadcrumbs">
                            <li><a href="#">Oblečení</a></li>
                            <i>></i>
                            <li><a href="#">Dámské</a></li>
                            <i>></i>
                            <li><a href="#">trička</a></li>
                            <i>></i>
                            <li><a href="#">krátký rukáv</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="part_category_select">
                        <div class="item-wrapper">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/kategorie_v01/u4268.png?token=e0abd4e95d1d5e63ea1165c1ebe8e376" alt="dziny">
                                </div>
                                <i>3/4 Kalhoty</i>
                            </div>
                        </div>
                        <div class="item-wrapper">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/kategorie_v01/u4268.png?token=e0abd4e95d1d5e63ea1165c1ebe8e376" alt="dziny">
                                </div>
                                <i>3/4 Kalhoty</i>
                            </div>
                        </div>
                        <div class="item-wrapper">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/kategorie_v01/u4268.png?token=e0abd4e95d1d5e63ea1165c1ebe8e376" alt="dziny">
                                </div>
                                <i>3/4 Kalhoty</i>
                            </div>
                        </div>
                        <div class="item-wrapper">
                            <div class="inner">
                                <div class="image">
                                    <img src="http://d2v8ggac1o0f6z.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/kategorie_v01/u4268.png?token=e0abd4e95d1d5e63ea1165c1ebe8e376" alt="dziny">
                                </div>
                                <i>3/4 Kalhoty</i>
                            </div>
                        </div>
                    </div>
                </div>
                {{> "parts/ui/category_order"}}
                <div class="comp_products">
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                {{> "parts/product" col="4"}}
                                {{> "parts/product" col="4"}}
                                {{> "parts/product" col="4"}}
                                {{> "parts/product" col="4"}}
                                {{> "parts/product" col="4"}}
                                {{> "parts/product" col="4"}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <section class="comp_products">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            {{> "parts/product" col="3"}}
                            {{> "parts/product" col="3"}}
                            {{> "parts/product" col="3"}}
                            {{> "parts/product" col="3"}}
                            {{> "parts/product" col="3"}}
                            {{> "parts/product" col="3"}}
                            {{> "parts/product" col="3"}}
                            {{> "parts/product" col="3"}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

