<section class="category-card">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 offset-sm-2 text-xs-center">
                {{> "parts/ui/heading" type="h2" subtitle="La Infini design scarves collection" title="original handmade scarves unique designs"}}
            </div>
        </div>
        <div class="row category-card__contain" style="background-image: url('../../userfiles/flower-bg.png')">

            <div class="col-sm-5 offset-sm-1 category-card__item">
                <img src="../../userfiles/kachina_big.jpg" class="img-fluid" alt="category textil">
                <div class="category-card__item__child">
                    <img src="../../userfiles/kachina.png" class="img-fluid" alt="category image">
                </div>
            </div>

            <div class="col-sm-5 category-card__item">
                <img src="../../userfiles/silk_big.jpg" class="img-fluid" alt="category textil">
                <div class="category-card__item__child">
                    <img src="../../userfiles/profile_photo.jpg " class="img-fluid" alt="category image">
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 text-xs-center category-card__benefits">
                <h3 class="category-card__benefits__title">original design</h3>
                <p>
                    Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tellus elit, aliquet.
                    ut, tempor ut, elementum sodales, lorem. Morbi in leo. Sed hendrerit mollis nisl.
                </p>
            </div>

            <div class="col-xs-12 col-sm-4 text-xs-center category-card__benefits">
                <h3 class="category-card__benefits__title">european quality</h3>
                <p>
                    Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tellus elit, aliquet.
                    ut, tempor ut, elementum sodales, lorem. Morbi in leo. Sed hendrerit mollis nisl.
                </p>
            </div>

            <div class="col-xs-12 col-sm-4 text-xs-center category-card__benefits">
                <h3 class="category-card__benefits__title">unique experience</h3>
                <p>
                    Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tellus elit, aliquet.
                    ut, tempor ut, elementum sodales, lorem. Morbi in leo. Sed hendrerit mollis nisl.
                </p>
            </div>

            <div class="col-xs-12 text-xs-center offset-top-50">
                <a href="#" class="btn">shop the designs</a>
            </div>
            
        </div>
    </div>
</section>