<div class="comp_configurator_summary">
    <div class="container">
        {{> "parts/ui/heading" h="1" type="2" heading="Poptávka online"}}
        <div class="text-right">
            <a href="homepage.html" class="btn btn-type-1 color-c"><span class="icon icon-arrow-left r"></span>&nbsp;<i>Zpět na stránky</i></a>
            <a href="configurator.html" class="btn btn-type-1 color-a"><span class="icon icon-settings r"></span>&nbsp;<i>Zpět do konfigurátoru</i></a>
        </div>
        {{> "parts/configurator/summary"}}
    </div>
</div>