<section class="comp_contact">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col col-6 col-12-t">
                    {{> "parts/ui/heading" h="1" type="2" heading=content_heading}}
                    {{> "parts/ui/wsw" wsw=wsw}}
                    {{> "parts/contact_info"}}
                </div>
                <div class="col col-6 col-12-t">
                    {{> "parts/form"}}
                </div>
            </div>
            {{> "parts/qr"}}
        </div>
    </div>
</section>