<div class="currator">
    <div class="container">
        <div class="row">

            <div class="col-10 offset-1 text-center">
                {{> "parts/ui/heading" subtitle="carefully prepared just for you" title="currated collection lainfini" type="h3" intro="Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tellus elit, aliquet. ut, tempor ut, elementum sodales, lorem. Morbi in leo. Sed hendrerit mollis nisl."}}
            </div>

            <div class="col-6 offset-4 currator__photo offset-vertical-10">
                <img src="../../userfiles/currator.jpg" class="img-fluid" alt="currator">
                <img src="../../userfiles/currator-small.jpg" class="img-fluid currator__photo__small" alt="currator-small">
            </div>

            <div class="col-10 offset-1 currator__context text-center offset-vertical-30">
                <span class="currator__context__title">mirka talavaskova</span>
                <p>
                    Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tell
                </p>
                <div class="btn__inline offset-vertical-30">
                    <div class="col-6">
                        <a href="#" class="btn">lainfini studio</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn">currators’ profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>