<section class="designers">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 offset-sm-2 text-xs-center">
                {{> "parts/ui/heading" type="h2" subtitle="La Infini design scarves collection" title="original handmade scarves unique designs" intro="Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tellus elit, aliquet. ut, tempor ut, elementum sodales, lorem. Morbi in leo. Sed hendrerit mollis nisl."}}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="designers__item">
                    <div class="designers__item__photo">
                        <img src="../../userfiles/karel.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="designers__item__content text-xs-left">
                        <h4 class="text-uppercase">Karel novák</h4>
                        <p>Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tell</p>
                        <a href="#">meet Karel</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="designers__item">
                    <div class="designers__item__photo">
                        <img src="../../userfiles/anna.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="designers__item__content text-xs-left">
                        <h4 class="text-uppercase">Anna Zysova</h4>
                        <p>Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tell</p>
                        <a href="#">meet Karel</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="designers__item">
                    <div class="designers__item__photo">
                        <img src="../../userfiles/miro.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="designers__item__content text-xs-left">
                        <h4 class="text-uppercase">Miro Hának</h4>
                        <p>Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tell</p>
                        <a href="#">meet Karel</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="designers__item">
                    <div class="designers__item__photo">
                        <img src="../../userfiles/marta.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="designers__item__content text-xs-left">
                        <h4 class="text-uppercase">Marta Nová</h4>
                        <p>Sed quis lacus. Duis rutrum lacinia odio. Sed ac quam non odio ullamcorper tempor. Morbi tell</p>
                        <a href="#">meet Karel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



