<div class="product-list">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 product-list__item">
                <div class="product-list__bg product-list__bg--left-top" style="background-image:  url('../../userfiles/eshop-product-example.jpg'), url('../../userfiles/eshop-produkt-big.png')"></div>
                <div class="product-list__content">
                    <div class="product-list__title">
                        <h4>Blue moon</h4>
                        <span>$239.00</span>
                    </div>
                    <div class="row info">
                        <div class="col-8">size</div>
                        <div class="col-4">60x50 cm <br> 50x30cm</div>
                    </div>
                    <div class="row info">
                        <div class="col-8">matterial</div>
                        <div class="col-4">printed fine silk</div>
                    </div>
                    <div class="row info">
                        <div class="col-8">design</div>
                        <div class="col-4">Jabob Borrows</div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <i class="icon icon-wishlist"></i>
                            <i>Add to wishlist</i>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn">See detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>