<div class="filter">
    <div class="container">
        <div class="row text-center">
            <div class="col-10 offset-1">
                <div class="filter__heading">
                    <h1 class="filter__title">original handmade scarves</h1>
                    <span class="filter__subtitle">Filter by</span>
                </div>
            </div>
            <div class="col-12 col-sm-4"></div>
            <div class="col-12 col-sm-4"></div>
            <div class="col-12 col-sm-4"></div>
        </div>
    </div>
</div>