<div class="comp_featuring">
    <div class="content">
        <div class="container">
            {{> "parts/ui/heading" h="2" type="1" heading=content_heading sub_heading=content_sub_heading}}
            <div class="row featuring">
                <div class="col col-4 col-12-t l" data-reveal>
                    <div class="item">
                        <div class="item-content">
                            <h3 class="heading"><i>Klíčový údaj</i></h3>
                            <p>Společnost se již více jak 20 let zabývá komplexní výrobou reklamních.</p>
                        </div>
                        <div class="item-icon">
                            <span class="icon icon-clock"></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <h3 class="heading"><i>Klíčový údaj</i></h3>
                            <p>Společnost se již více jak 20 let zabývá komplexní výrobou reklamních.</p>
                        </div>
                        <div class="item-icon">
                            <span class="icon icon-hearth"></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-content">
                            <h3 class="heading"><i>Klíčový údaj</i></h3>
                            <p>Společnost se již více jak 20 let zabývá komplexní výrobou reklamních.</p>
                        </div>
                        <div class="item-icon">
                            <span class="icon icon-diamond"></span>
                        </div>
                    </div>
                </div>
                <div class="col col-4 col-0-t c" data-reveal>
                    <div class="slider">
                        <a href="#" class="item">
                            <picture class="image">
                                <img src="#" data-src="//placehold.it/410x500/0c5dac/fff" class="lazyload" alt="" />
                            </picture>
                        </a>
                        <a href="#" class="item">
                            <picture class="image">
                                <img src="#" data-src="//placehold.it/410x500/333/fff" class="lazyload" alt="" />
                            </picture>
                        </a>
                        <a href="#" class="item">
                            <picture class="image">
                                <img src="#" data-src="//placehold.it/410x500/999/fff" class="lazyload" alt="" />
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="col col-4 col-12-t r" data-reveal>
                    <div class="item">
                        <div class="item-icon">
                            <span class="icon icon-clock"></span>
                        </div>
                        <div class="item-content">
                            <h3 class="heading"><i>Klíčový údaj</i></h3>
                            <p>Společnost se již více jak 20 let zabývá komplexní výrobou reklamních.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-icon">
                            <span class="icon icon-hearth"></span>
                        </div>
                        <div class="item-content">
                            <h3 class="heading"><i>Klíčový údaj</i></h3>
                            <p>Společnost se již více jak 20 let zabývá komplexní výrobou reklamních.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-icon">
                            <span class="icon icon-diamond"></span>
                        </div>
                        <div class="item-content">
                            <h3 class="heading"><i>Klíčový údaj</i></h3>
                            <p>Společnost se již více jak 20 let zabývá komplexní výrobou reklamních.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns text-center">
                <a href="#" title="" class="btn-type-1 big color-c">
                    <span class="icon icon-tshirt"></span>
                    <i>Přejít na konfigurátor</i>
                </a>
            </div>
            {{> "parts/qr"}}
        </div>
    </div>
</div>