<div class="container">
    <div class="row">
        <!--<div class="col-2">
            {{> "parts/ui/checkbox"}}
        </div>-->
        <div class="col-6">
            {{> "parts/ui/input" type="text" label="your@email"}}
        </div>
        <div class="col-6">
            {{> "parts/ui/select" label="All sizes"}}
        </div>
        <div class="col-2">
            {{> "parts/ui/input" type="radio" label="your@email"}}
        </div>
        <div class="col-2">
            {{> "parts/ui/input" type="password" label="your@email"}}
        </div>

    </div>
</div>