<div class="last-view offset-bottom-50">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center offset-bottom-30">
                <h3>last viewed designs</h3>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="last-view__item">
                    <img src="../../userfiles/last-1.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="last-view__item">
                    <img src="../../userfiles/last-2.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="last-view__item">
                    <img src="../../userfiles/last-1.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="last-view__item">
                    <img src="../../userfiles/last-2.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>