<div class="meetbox">
    <div class="container">
        <div class="row">
            <div class="col-5 meetbox__image">
                <img src="../../userfiles/studio-background.jpg" class="img-fluid" alt="" data-reveal="">
            </div>
            <div class="col-12 col-sm-4 offset-sm-1 meetbox__text" data-reveal>
                <span class="meetbox__title">
                    The studio lainfini
                </span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                    accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                </p>
            </div>
            <div class="col-12 text-center">
                {{> "parts/ui/heading" mod=1 subtitle="design is our passion" title="scarves as a matter of art" type="h3"}}
            </div>
            <div class="col-12 col-sm-6 col-md-5  meetbox__text text-right" data-reveal>
                 <span class="meetbox__title">The studio lainfini</span>
                 <span class="meetbox__subtitle d-block">Fashion Designer & Head of LAINFINI STUDIO</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                    gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                </p>
            </div>
            <div class="col-12 col-sm-6 col-md-5 offset-md-1 meetbox__button" data-reveal>
                <img src="../../userfiles/mirka.jpg" class="img-fluid" alt="">
                <a href="#" class="btn">meet mirka</a>
            </div>
        </div>
    </div>
</div>