<section class="comp_partners reveal" data-reveal-fade >
    <div class="heading">
        <div class="container">
            <h2 class="h"><i>Vyberte si z desítek světových značek</i></h2>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u129.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u133.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u137.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u141.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u143.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u145.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u151.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u131.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u135.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u139.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u147.png" alt=""></a>
                </div>
            </div>
            <div class="row">
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u129.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u133.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u137.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u141.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u139.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u131.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u137.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u129.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u143.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u137.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u145.png" alt=""></a>
                </div>
                <div class="col col-1 partner">
                    <a href="#"><img src="../img/hp/u143.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>