<div class="product-detail">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{> "parts/ui/heading" type="h2" title="good taste: 5 from 8 already sold" line='bottom'}}
            </div>
            <div class="col-12 col-sm-5">
                <div class="detail-slider">
                    <div class="detail-slider__item">
                        <img src="../../userfiles/arrival-1.png" alt="img" class="img-fluid">
                        <div class="ui-items">
                            <span class="like"><i class="icon icon-wishlist"></i></span>
                            <span class="search"><i class="icon icon-user"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 push-sm-1">
                <div class="row">
                    <div class="col-12">
                        <div class="product-list__title text-center text-sm-left">
                            <h4>Blue moon</h4>
                            <span>$239.00</span>
                        </div>
                    </div>
                </div>
                <div class="row product-detail__iteractive">
                    <div class="col-12 col-md-7 col-xl-5 text-center text-sm-left">
                        {{> "parts/ui/item_counter"}}
                    </div>
                    <div class="col-12 col-md-5 social-nav">
                        <ul class="social-nav__icons">
                            <li><a href=""><i class="icon icon-facebook"></i></a></li>
                            <li><a href=""><i class="icon icon-twitter"></i></a></li>
                            <li><a href=""><i class="icon icon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row product-detail__table">
                <div class="col-12">
                    <div class="wsw">
                        <p>
                            60x50 cm
                        </p>
                        <p>
                            23x23 inch.
                        </p>
                        <p>
                            printed fine silk
                        </p>
                    </div>
                </div>
                <div class="col-12 product-detail__add-cart">
                    <div class="btn__inline">
                        <a href="#" class="btn btn-center">add to shopping basket</a>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>