<section class="profil">
    <div class="profil__image" style="background-image: url('../../userfiles/mirka.jpg')"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="profil__info">
                    <div class="profil__head" data-name="Alexandra">
                        <div class="profil__head__subtitle">
                            <p>Profile</p>
                        </div>
                        <div class="profil__head__title">
                            <h1>Alexandra talavaskova</h1>
                        </div>
                        <div class="profil__head__prof">
                            <p>Fashion Designer & Head of LAINFINI STUDIO</p>
                        </div>
                    </div>
                    <div class="profil__body">
                        <ul>
                            <li>Atelier du Sartes in Paris</li>
                            <li>2x Top Style Designer of the Year</li>
                            <li>1x Czech Grand Design</li>
                            <li>Delor luxury tailoring</li>
                            <li>Chia Collection for the Mooyyy</li>
                            <li>Lainfini project</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 profil__slogan">
                <span class="bq">The purpose of art is washing the dust of daily life off our souls.</span>
            </div>
        </div>
    </div>
</section>