<section class="comp_reference">
    <div class="content">
        <div class="container">
            {{> "parts/ui/heading" h="2" type="1" heading=content_heading sub_heading=content_sub_heading}}
            <div class="slider" data-reveal>
                {{#each items as |item|}}
                    <a href="#" class="item" data-dynamic-gallery='[{"src":"//placehold.it/1280x720","thumb":"//placehold.it/120x60","subHtml": "<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"}, {"src":"//placehold.it/1280x720","thumb":"//placehold.it/120x60","subHtml": "<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"}, {"src":"//placehold.it/1280x720","thumb":"//placehold.it/120x60"}, {"src":"//placehold.it/1280x720","thumb":"//placehold.it/120x60","subHtml": "<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"}]'>
                        <picture class="item-image">
                            <img src="#" data-lazy="{{item.img}}" alt="" />
                        </picture>
                        <div class="item-content">
                            <strong class="title"><i>{{item.title}}</i></strong>
                            <p>{{item.text}}</p>
                            <button class="btn btn-type-2"><i>Detail reference</i></button>
                        </div>
                    </a>
                {{/each}}
            </div>
            <div class="btns text-center">
                <a href="gallery.html" class="btn btn-type-1 color-c big">
                    <span class="icon icon-image"></span>
                    <i>Shlédnout galerii</i>
                </a>
            </div>
        </div>
    </div>
</section>