<section class="single-box">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {{> "parts/ui/heading" subtitle="unique process of design and production" title="Every piece is the original art" type="h3"}}
            </div>
            <div class="col-12 col-sm-6 align-middle">
                <img src="../../userfiles/studio-background.jpg" class="img-fluid" alt="peace">
            </div>
            <div class="col-12 col-sm-6 align-middle">
                <div class="single-box__text">
                    <span class="single-box__title d-inline-block">Currated collections</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
                        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                        accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>