<section class="comp_text">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    {{> "parts/ui/heading" h="1" type="2" heading=content_heading}}
                    {{> "parts/ui/wsw" wsw=wsw}}
                </div>
            </div>
        </div>
    </div>
</section>