<section class="visual" style="background-image: url('{{bg}}')">
    <div class="visual__heading text-center">
        {{#if subtitle}}
            <p class="visual__subtitle ">{{subtitle}}</p>
        {{/if}}
        {{#if title}}
            <h1 class="visual__title">{{title}}</h1>
        {{/if}}

    </div>
</section>