<section class="visual" {{#if bg}}style="background-image: url('{{bg}}')"{{else}} style="background-color: {{bg-color}};"{{/if}}>
    <div class="container visual--mod">
        <div class="row">
            <div class="col-12 text-center">
                {{> "parts/ui/heading" subtitle="carefully prepared just for you" title="“Where do new ideas come from? The answer is simple: differences. Creativity comes from unlikely juxtapositions.”" type="h3"}}
            </div>
        </div>
    </div>
</section>