@mixin owf-absolute-center() {
  position: absolute!important;
  margin: auto!important;
  top: -9999px!important;
  left: -9999px!important;
  bottom: -9999px!important;
  right: -9999px!important;
}

@mixin btn($padding,$main-color,$hover-color,$bg) {
  @include display(inline-block);
  padding: $padding;
  color: $main-color;
  background: $bg;
  &:hover {
    cursor: pointer;
    color: $hover-color;
    background: lighten($main-color,8%);
  }
}

@mixin generate-icons($icons) {
  @each $name, $value in $icons {

    %icon-#{$name} { //placelhoders
      content: $value;
    }

    .icon-#{$name}:before { //classes
      @extend %icon-#{$name};
    }
  }
}

@mixin MQ($width, $type : true) {
  @if ($type == true) {
    @media (max-width: $width) {
      @content;
    }

  }@else {
    @media (min-width: $width) {
      @content;
    }
  }
}

//Conditional media query mixin
@mixin cMQ($minWidth, $maxWidth) {
  @media (min-width: $minWidth) and (max-width: $maxWidth) {
    @content;
  }
}