<div class="category_order">
    <div class="row">
        <div class="col col-9">
            <div class="order">
                <ul>
                    <li class="active">Doporucujeme</li>
                    <li>Nejnovejsi</li>
                    <li>Nejlevnejsi</li>
                    <li>Nejdrazsi</li>
                </ul>
            </div>
        </div>
        <div class="col col-3">
            <div class="palignation text-right">
                <ul>
                    <li>
                        <a href="#" class="icon icon-chevron-left"></a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" class="icon icon-chevron-right"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>