<div class="item">
    <input type="checkbox" name="checkbox" id="f-checkbox-{{n}}" />
    <label for="f-checkbox-{{n}}">
        <span class="icon"></span>
        <i>{{label}}</i>
    </label>
</div>