 <div class="content login">
    <button class="icon icon-close"></button>
    <strong class="heading"><i>Přihlášení</i></strong>
    <form class="part_form">
        <fieldset class="row line">
            <div class="col col-12">
                <div class="item">
                    <label for="f-username" class="hide">E-mailová adresa</label>
                    <input type="text" name="username" id="f-username" placeholder="E-mailová adresa" />
                </div>
            </div>
            <div class="col col-12">
                <div class="item">
                    <label for="f-password" class="hide">Heslo</label>
                    <input type="password" name="password" id="f-password" placeholder="Heslo" />
                </div>
            </div>
            <div class="col col-12 text-right">
                <a href="#" title="" class="link" data-dialog="dialog-password.html"><i>Zapoměli jste své heslo?</i></a>
            </div>
        </fieldset>
        <fieldset class="row btns">
            <div class="col col-12 text-right multi">
                <button class="btn btn-type-1 color-c" data-dialog="dialog-register.html"><i>Nová registrace</i></button><button class="btn btn-type-1 color-a"><i>Přihlásit se</i></button>
            </div>
        </fieldset>
    </form>
</div>