<div class="content login">
    <button class="icon icon-close"></button>
    <strong class="heading"><i>Zapomenuté heslo</i></strong>
    <form class="part_form">
        <fieldset class="row line">
            <div class="col col-12">
                <div class="item">
                    <label for="f-password" class="hide">Nové heslo</label>
                    <input type="text" name="password" id="f-password" placeholder="Nové heslo" />
                </div>
            </div>
            <div class="col col-12">
                <div class="item">
                    <label for="f-password-again" class="hide">Nové heslo znovu</label>
                    <input type="password" name="password-again" id="f-password-again" placeholder="Nové heslo znovu" />
                </div>
            </div>
        </fieldset>
        <fieldset class="row btns">
            <div class="col col-12 text-right">
                <button class="btn btn-type-1 color-a"><i>Odeslat</i></button>
            </div>
        </fieldset>
    </form>
</div>