 <div class="content register">
    <button class="icon icon-close"></button>
    <strong class="heading"><i>Registrace</i></strong>
    <form class="part_form">
        <div class="line">
            <div class="info">
                <p>* údaje opatřené hvězdičkou jsou povinné</p>
            </div>
            <div class="status">
                <span class="bad">Něco se pokazilo</span>
                <span class="good">Vaše registrace byla dokončena, nyní se můžete přihlásit</span>
            </div>
            <fieldset class="row">
                <div class="col col-6 col-12-m">
                    <div class="item required">
                        <label for="f-name" class="hide">Jméno</label>
                        <input type="text" name="f-name" id="f-name" placeholder="Jméno" required />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item required">
                        <label for="f-surename" class="hide">Příjmení</label>
                        <input type="text" name="f-surname" id="f-surename" placeholder="Příjmení" required />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item required">
                        <label for="f-email" class="hide">E-mail</label>
                        <input type="email" name="f-email" id="f-email" placeholder="E-mail" required />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item required">
                        <label for="f-tel" class="hide">Telefon</label>
                        <input type="tel" name="f-tel" id="f-tel" placeholder="Telefon" required />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item required">
                        <label for="f-password" class="hide">Heslo</label>
                        <input type="password" name="f-password" id="f-password" placeholder="Heslo" required />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item required">
                        <label for="f-password-again" class="hide">Heslo znovu</label>
                        <input type="password" name="f-password-again" id="f-password-again" placeholder="Heslo znovu" required />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item">
                        <label class="hide">Typ uživatele</label>
                        <select class="select">
                            <option>- Typ uživatele -</option>
                            <option>Agentura</option>
                            <option>Firemní zákazník</option>
                            <option>Fyzická osoba</option>
                        </select>
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item">
                        <label for="f-company" class="hide">Firma</label>
                        <input type="text" name="f-company" id="f-company" placeholder="Firma" />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item">
                        <label for="f-address" class="hide">Ulice</label>
                        <input type="text" name="f-address" id="f-address" placeholder="Ulice" />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item">
                        <label for="f-psc" class="hide">PSČ</label>
                        <input type="text" name="f-psc" id="f-psc" placeholder="PSČ" />
                    </div>
                </div>
                <div class="col col-6 col-12-m">
                    <div class="item">
                        <label for="f-town" class="hide">Město</label>
                        <input type="text" name="f-town" id="f-town" placeholder="Město" />
                    </div>
                </div>
            </fieldset>
        </div>
        <fieldset class="row btns">
            <div class="col col-12 text-right">
                <button class="btn btn-type-1 color-a"><i>Registrovat se</i></button>
            </div>
        </fieldset>
    </form>
</div>