<div class="ui-interactive">
    <select class="ui-interactive__select" style="width: 100%">
        <option>- {{label}} -</option>
        <option>20 x 20’’ / 40 x 40 cm</option>
        <option>Volba 2</option>
        <option>Volba 3</option>
    </select>
</div>