<div class="item">
    <label class="hide">{{label}}</label>
    <select class="select">
        <option>- {{label}} -</option>
        <option>Volba 1</option>
        <option>Volba 2</option>
        <option>Volba 3</option>
    </select>
</div>