<div class="part_wsw wsw">
    <ul>
        <li>100% bavlna Belcoro ®</li>
        <li>97% bavlna, 3% polyester (Heather Grey)</li>
        <li>Klasické triko dámského střihu</li>
        <li>Hmotnost: 165 g/m² (bílá: 160 g/m²)</li>
        <li>Náplet u krku s Lycrou</li>
        <li>Dvojitý šev na ukončení rukávu a v pase</li>
        <li>Vyrobeno za použití příze Belcoro ® pro měkčí pocit a čistší potisk materiálu.</li></li>
    </ul>
</div>