<footer data-reveal>
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-sm-down">
                <ul>
                    <li>
                        <a href="">
                            info@lainfini.com
                        </a>
                    </li>
                    <li>
                        <a href="">Press inquiries</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center">
                <a href="#" class="logo">lainfini</a>
                <ul class="nav-mobile hidden-md-up">
                    <li>
                        <a href="#">
                            info@lainfini.com
                        </a>
                        <a href="#">
                            Press inquiries
                        </a>
                        <a href="#">
                            more about the brand
                        </a>
                    </li>
                </ul>
                <p class="copyright">
                    2016 Copyright la infini
                </p>
            </div>
            <div class="col-sm-4 text-sm-right hidden-sm-down">
                <ul>
                    <li>
                        <a href="">
                            download ou brochure

                        </a>
                    </li>
                    <li>
                        <a href="">more about the brand</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>