<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <label for="op">
                    <div id="nav-lines">
                        <svg viewbox="0 0 64 64">
                            <line id="nav-line-1" x1="8" x2="56" y1="16" y2="16" class="nav-line" />
                            <line id="nav-line-2" x1="8" x2="56" y1="32" y2="32" class="nav-line" />
                            <line id="nav-line-3" x1="8" x2="56" y1="48" y2="48" class="nav-line" />
                            <line x1="16" x2="48" y1="16" y2="48" class="cross-line" />
                            <line x1="16" x2="48" y1="48" y2="16" class="cross-line" />
                            <rect class="rect" width="42" height="42" x="11" y="11" />
                        </svg>
                    </div>
                </label>
            </div>
            <div class="col-8">
                <a href="#" class="logo text-center">lainfini</a>
            </div>
            <div class="col-2 text-right">
                <a href="#"><i class="icon icon-shop"></i></a>
                <a href="#"><i class="icon icon-wishlist"></i></a>
            </div>
        </div>
    </div>
</header>