<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <a href="#"><i class="icon icon-menu"></i></a>
            </div>
            <div class="col-xs-8">
                <a href="#" class="logo text-xs-center">lainfini</a>
            </div>
            <div class="col-xs-2 text-xs-right">
                <a href="#"><i class="icon icon-shop"></i></a>
                <a href="#"><i class="icon icon-wishlist"></i></a>
            </div>
        </div>
    </div>
</header>