<div class="part_contact_info">
    <div class="row">
        <div class="col col-6 col-12-m">
            <strong class="title"><i>Kancelář</i></strong>
            <a href="https://goo.gl/maps/nTs5v4Gkhyj" title="" class="item">
                <span class="icon icon-home"></span>
                <i>Argentinská 286/38 170 00 Praha 7</i>
            </a>
            <a href="tel:420603222823" title="" class="item bold">
                <span class="icon icon-mob"></span>
                <i>+420 603 22 28 23</i>
            </a>
            <a href="tel:420567310071" title="" class="item bold">
                <span class="icon icon-printer-text"></span>
                <i>+420 567 31 00 71</i>
            </a>
            <a href="mailto:prodej@t-shirt2u.eu" title="" class="item">
                <span class="icon icon-mail"></span>
                <i>prodej@t-shirt2u.eu</i>
            </a>
        </div>
        <div class="col col-6 col-12-m">
            <strong class="title"><i>Výroba</i></strong>
            <a href="https://goo.gl/maps/MVEXSC77wC42" title="" class="item">
                <span class="icon icon-home"></span>
                <i>Srázná 20, 586 01 Jihlava</i>
            </a>
            <a href="tel:420603102255" title="" class="item bold">
                <span class="icon icon-mob"></span>
                <i>+420 603 10 22 55</i>
            </a>
            <a href="tel:420567310071" title="" class="item bold" >
                <span class="icon icon-printer-text"></span>
                <i>+420 567 31 00 71</i>
            </a>
            <a href="mailto:info@t-shirt2u.eu" title="" class="item">
                <span class="icon icon-mail"></span>
                <i>info@t-shirt2u.eu</i>
            </a>
        </div>
    </div>
</div>