<div class="part_top_filter">
    <div class="head">
        <div class="title">Veliskosti</div>
        <div class="icon icon-chevron-down"></div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col col-4">
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
            </div>
            <div class="col col-4">
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
            </div>
            <div class="col col-4">
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="checkbox-1">EUR-31</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="part_top_filter">
    <div class="head">
        <div class="title">Cena</div>
        <div class="icon icon-chevron-down"></div>
    </div>
    <div class="content">
        <div class="row">
            <div class="slider" id="price-slider">
                <div class="skip lower" id="skip-value-lower"></div>
                <div class="skip upper" id="skip-value-upper"></div>
            </div>
        </div>
    </div>
</div>
<div class="part_top_filter">
    <div class="head">
        <div class="title">Míry</div>
        <div class="icon icon-chevron-down"></div>
    </div>
    <div class="block">
        <div class="subtitle">
            Obvod pasu:
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="slider" id="price-props">
                <div class="skip lower" id="skip-value-lower-props"></div>
                <div class="skip upper" id="skip-value-upper-props"></div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="subtitle">
            Obvod Hrudi:
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="slider" id="price-props-ch">
                <div class="skip lower" id="skip-value-lower-props-ch"></div>
                <div class="skip upper" id="skip-value-upper-props-ch"></div>
            </div>
        </div>
    </div>
</div>
<div class="part_top_filter">
    <div class="head">
        <div class="title">Míry</div>
        <div class="icon icon-chevron-down"></div>
    </div>
    <div class="content">
        <div class="row big-select-wrapper">
            <div class="col col-4">
                <div class="big-select">
                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/homepage_v03/u210.png?token=0270ebac9d2af7a56cb5c0201bf14822" alt="">
                </div>
            </div>
            <div class="col col-4">
                <div class="big-select">
                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/homepage_v03/u210.png?token=0270ebac9d2af7a56cb5c0201bf14822" alt="">
                </div>
            </div>
            <div class="col col-4">
                <div class="big-select">
                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/homepage_v03/u210.png?token=0270ebac9d2af7a56cb5c0201bf14822" alt="">
                </div>
            </div>
            <div class="col col-4">
                <div class="big-select">
                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/homepage_v03/u210.png?token=0270ebac9d2af7a56cb5c0201bf14822" alt="">
                </div>
            </div>
            <div class="col col-4">
                <div class="big-select">
                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/homepage_v03/u210.png?token=0270ebac9d2af7a56cb5c0201bf14822" alt="">
                </div>
            </div>
            <div class="col col-4">
                <div class="big-select">
                    <img src="http://d2t44wh9rnwl5y.cloudfront.net/gsc/6W8KJN/1b/67/f5/1b67f5931a344547b881a66c7da2a688/images/homepage_v03/u210.png?token=0270ebac9d2af7a56cb5c0201bf14822" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">Adidas (33)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">Alpine Pro (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">B.S.jeans fashion (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">By Sasha (22)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">Adidas (33)</label>
                </div>
                <div class="check">

                    <input type="checkbox" id="checkbox-1">
                    <label for="">Alpine Pro (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">B.S.jeans fashion (10)</label>
                </div>
                <div class="check">

                    <input type="checkbox" id="checkbox-1">
                    <label for="">By Sasha (22)</label>
                </div>
                <div class="check">

                    <input type="checkbox" id="checkbox-1">
                    <label for="">Adidas (33)</label>

                </div>
                <div class="check">

                    <input type="checkbox" id="checkbox-1">
                    <label for="">Alpine Pro (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">B.S.jeans fashion (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">By Sasha (22)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">Adidas (33)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">Alpine Pro (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">B.S.jeans fashion (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">By Sasha (22)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">B.S.jeans fashion (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">B.S.jeans fashion (10)</label>
                </div>
                <div class="check">
                    <input type="checkbox" id="checkbox-1">
                    <label for="">B.S.jeans fashion (10)</label>
                </div>

            </div>
        </div>
    </div>
</div>