<div class="part_goods">
    <p><b>Nevybrali jste si?</b> Nezoufejte, vytvoříme pro vás zboží na zakázku!</p>
    <div class="btns text-center">
        <a href="#" title class="btn btn-type-2 color-c big">
            <span class="icon icon-magic"></span>
            <i>Chci zboží na zakázku</i>
        </a>
    </div>
</div>