<div class="part_product_info">
    <div class="product" data-switch>
        <div class="switch-area">
            <div class="switch-content active">
                <picture class="image">
                    <img src="//placehold.it/400x490" alt="" />
                </picture>
            </div>
            <div class="switch-content">
                <picture class="image">
                    <img src="//placehold.it/400x490/bbb/" alt="" />
                </picture>
            </div>
        </div>
        <div class="switch-nav multi">
            <a href="#" title="" class="switch-button btn btn-type-2 color-c active"><i>Pohled zepředu</i></a><a href="#" title="" class="switch-button btn btn-type-2 color-c"><i>Pohled zezadu</i></a>
        </div>
    </div>
    <div class="colors">
        <div class="col">
            <a href="#" title="" class="item">
                <em style="background: #ec88e4;border-color:#ec88e4"><em></em></em>
                <i>pink&white</i>
            </a>
        </div>
        <div class="col">
            <a href="#" title="" class="item">
                <em style="background: #f4911e;border-color:#f4911e"><em></em></em>
                <i>burgundy</i>
            </a>
        </div>
        <div class="col">
            <a href="#" title="" class="item">
                <em style="background: #1eb3f4;border-color:#1eb3f4"><em></em></em>
                <i>royal blue</i>
            </a>
        </div>
        <div class="col">
            <a href="#" title="" class="item">
                <em style="background: #b91149;border-color:#b91149"><em></em></em>
                <i>heather grey</i>
            </a>
        </div>
        <div class="col">
            <a href="#" title="" class="item">
                <em class="five" style="background: transparent;border-color:#7068af">
                    <em style="background: #7068af"></em>
                    <em style="background: red"></em>
                    <em style="background: green"></em>
                    <em style="background: blue"></em>
                    <em style="background: purple"></em>
                </em>
                <i>pink&white</i>
            </a>
        </div>
        <div class="col">
            <a href="#" title="" class="item">
                <em class="three" style="background: transparent;border-color:#7068af">
                    <em style="background: #7068af"></em>
                    <em style="background: red"></em>
                    <em style="background: green"></em>
                </em>
                <i>pink&white</i>
            </a>
        </div>
        <div class="col">
            <a href="#" title="" class="item">
                <em class="two" style="background: transparent;border-color:#7068af">
                    <em style="background: #7068af"></em>
                    <em style="background: white"></em>
                </em>
                <i>blue&white</i>
            </a>
        </div>
        <div class="col">
            <a href="#" title="" class="item">
                <em class="four" style="background: transparent;border-color:#7068af">
                    <em style="background: #7068af"></em>
                    <em style="background: red"></em>
                    <em style="background: green"></em>
                    <em style="background: blue"></em>
                </em>
                <i>blue&white</i>
            </a>
        </div>
    </div>
</div>