<div class="col col-{{col}} product">
    <div class="item_product">
        <div class="item_image">
            <div class="picture-slider">
                    <img data-src="//placehold.it/258x360" alt="product" width="258px" height="360px" class="lazyload"/>
                    <img data-src="//placehold.it/258x360/338827" width="258px" height="360px" alt="product" class="lazyload" />
                    <img data-src="//placehold.it/258x360/653846" width="258px" height="360px" alt="product" class="lazyload" />
                    <img data-src="//placehold.it/258x360/758291" width="258px" height="360px" alt="product" class="lazyload" />
            </div>
        </div>
        <div class="item_content">
            <div class="item_title">
                Dámské tričko Adidas Originals
            </div>
            <div class="item_price">
                <div class="new_price">1 999 Kč</div>
                <div class="price">2 733 Kč</div>
                    <div class="item_perex">
                        <p>
                            Perfektní pánská tenisová mikina od značky Adidas. Mikina disponuje velmi příjemným materiálem a prostornou klokaní kapsou ...
                        </p>
                        <div class="btns_wrapper row">
                            <div class="col col-6 sizes">
                                <span class="size">S</span>
                                <span class="size">M</span>
                                <span class="size">L</span>
                                <span class="size">XXL</span>
                            </div>
                            <div class="col col-6 text-right">
                                <a href="#" class="btn btn-type-1">Detail</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


