<div class="part_qr">
    <a href="#" title="" class="btn btn-type-1 big color-b {{#if wide}}col-12{{/if}}" data-qr="../img/qr.png" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
        <span class="icon icon-qrcode"></span>
        <i>Uložte si konfigurátor do svého telefonu!</i>
    </a>
</div>