<div class="social-nav" data-reveal>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="d-inline-block">
                    <ul>
                        <li><a href=""><i class="icon icon-facebook"></i></a></li>
                        <li><a href=""><i class="icon icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>