<div class="part_table">
    <table>
        <tr>
            <th>Značka:</th>
            <td>Fruit of the Loom</td>
        </tr>
        <tr>
            <th>Kód:</th>
            <td>61-372-036</td>
        </tr>
        <tr>
            <th>Typ:</th>
            <td>T-shirt</td>
        </tr>
        <tr>
            <th>Materiál:</th>
            <td>100% bavlna Belcoro®</td>
        </tr>
        <tr>
            <th>Kategorie:</th>
            <td>Dámské</td>
        </tr>
        <tr>
            <th>Barva:</th>
            <td>
                <select class="select">
                    <option>červená</option>
                    <option>zelená</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Velikosti:</th>
            <td>XS, S, M, L, XL</td>
        </tr>
        <tr>
            <th>Produktová karta:</th>
            <td>
                <a href="#" title="" class="download">
                    <i>filename.pdf</i>
                    <span class="icon icon-download"></span>
                </a>
            </td>
        </tr>
        <tr>
            <th>PDF Katalog:</th>
            <td>
                <a href="#" title="" class="download">
                    <i>katalog.pdf</i>
                    <span class="icon icon-download"></span>
                </a>
            </td>
        </tr>
    </table>
</div>