.filter {

  &__heading {
    margin: $_50 0;
  }

  &__title {
    font-family: $font-family-nexa;
    font-size: $_36;
    color: $color-black;
    padding-bottom: $_30;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: $letter-spacing-base;
  }

  &__subtitle {
    position: relative;
    font-family: $font-family-open-sans;
    font-size:$_24;
    color: $color-text;
    padding-top: $_25;
    letter-spacing: $letter-spacing-small;
    font-weight: lighter;
    &:before {
      @include position(absolute,0 0 0 auto);
      content: '';
      width: 100%;
      height: $_2;
      background-color: $color-b;
    }
  }

}